<div data-controller="search-wishes">
  <div class="feedback-filter">
    <div class="filter">
      <% Wish.filter_stages.each do |stage| %>
        <%= link_to stage, request.params.merge(stage: stage), class: "me-2 me-lg-3 #{'active' if stage == params[:stage]}" %>
      <% end %>
    </div>
    <div class="sorting">
      <%# Sorting %>
      <div class="dropdown">
        <button class="p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag 'sort.png', alt: "sort-icon", class: ("active" if params[:sort_by]) %>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-header">SORT BY</li>
          <li><hr class="dropdown-divider"></li>
          <li class="dropdown-item <%= "active" if params[:sort_by] == "Newest" %>"><%= link_to "Newest", request.params.merge(sort_by: "Newest") %></li>
          <li class="dropdown-item <%= "active" if params[:sort_by] == "Oldest" %>"><%= link_to "Oldest", request.params.merge(sort_by: "Oldest") %></li>
          <li class="dropdown-item <%= "active" if params[:sort_by] == "Votes" %>"><%= link_to "Votes", request.params.merge(sort_by: "Votes") %></li>
        </ul>
      </div>
      <%# Filter %>
      <div class="dropdown">
        <button class="p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag 'filter.png', alt: "filter-icon", class: ("active" if params[:filter_by]) %>
          <% if params[:filter_by] %>
            <div class="circle"></div>
          <% end %>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-header">FILTER BY</li>
          <li><hr class="dropdown-divider"></li>
          <li class="dropdown-item <%= "active" if params[:filter_by] == "Date" %>">
            <a href="#">
              Date
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <%= form_with url: request.url, method: :get, html: {class:
                  ""} do |f| %>
                  <li class="dropdown-item flex-between">
                    <%= f.label :start_date, "From" %>
                    <%= f.date_field :start_date,
                                      class: "form-control",
                                      value: params[:start_date] %>
                  </li>
                  <li class="dropdown-item flex-between">
                    <%= f.label :end_date, "To" %>
                    <%= f.date_field :end_date,
                                      class: "form-control",
                                      value: params[:end_date] %>
                  </li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown-item <%= "active" if params[:filter_by] == "Board" %>">
            <a href="#">
              Board
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <%= form_with url: request.url, method: :get, html: {class:
                  ""} do |f| %>
                  <%= f.text_field :query,
                                  class: "dropdown-item form-control",
                                  placeholder: "Start typing...",
                                  value: params[:query] %>
              <% end %>
            </ul>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li class="dropdown-item"><%= link_to "Clear all", request.path %></li>
        </ul>
      </div>
      <button class="p-0" type="button">
        <%= image_tag 'search.png', alt: "search-icon", data: { action: "click->search-wishes#search" } %>
      </button>
    </div>
  </div>
  <div class="search-bar d-none" data-search-wishes-target="form">
    <%= form_with url: request.url, method: :get, html: {class:
        ""} do |f| %>
        <%= f.text_field :query,
                        class: "form-control",
                        placeholder: "Search...",
                        value: params[:query],
                        data: {search_wishes_target: "input"} %>
    <% end %>
  </div>
</div>
