<div class="card-wish wrapper-container" data-action="click->show-ticket-details#active" data-show-ticket-details="ticket">
  <div class="d-flex justify-content-between align-items-start">
    <%= link_to wish_path(wish), data: {turbo_frame: "wish-view"}, style: "flex-grow: 1" do %>
      <div>
        <p><strong><%= wish.title %></strong></p>
        <%= wish.description.to_plain_text.truncate(150) %>
        <ul class='list-inline'>
          <li class="list-inline-item"><%= image_tag 'star.png', alt: "text" %> <%= wish.votes_count %></li>
          <li class="list-inline-item"><%= image_tag 'message-square.png', alt: "text" %> <%= wish.comments.count %></li>
        </ul>
      </div>
    <% end %>
    <div class="">
      <%= link_to edit_wish_path(wish) do %>
        <%= image_tag 'edit.png', class: "icon-small me-3", alt: "edit" %>
      <% end %>
      <%= link_to wish_path(wish), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <%= image_tag 'trash.png', class: "icon-small", alt: "delete" %>
      <% end %>
    </div>
  </div>
</div>
