<% content_for :meta_title, "#{@wishlist.title} | Wyshlist" %>
<% content_for :meta_description, @wishlist.description %>
<div class="my-container">
    <div class="title-header">
        <div class="title-wrapper">
            <h1><%= @wishlist.title %></h1>
            <br>
            <small class="title-header__description"><%= @wishlist.description %></small>
        </div>
        <div>
            <% if user_signed_in? && (current_user.team_member? || current_user.super_team_member?) %>
                <%= link_to edit_wishlist_path(@wishlist) do %>
                    <div class="card-product__edit">
                        <%= t('wishlist_page.edit_board') %> <i class="fa-solid fa-pencil"></i>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="cards-columns">
        <div class="wishes-filter">
            <ul class="wishes-filter__list">
                <h4><%= t('wishlist_page.add_new_ticket') %></h4>
                <br>
                <div class="new-wish-wrapper new-wish-sidebar-wrapper">
                <%= render "form", wish: @wish, wishlist: @wishlist %>
                </div>
                <br>
                <div data-controller="clipboard" data-clipboard-feedback-text-value="<%= t('wishlist_page.copied') %>" class="wishes__copy">
                    <input type="text" value="<%= request.url %>" data-clipboard-target="source" class="wishes__copy-link" />
                    <button type="button" data-action="clipboard#copy" data-clipboard-target="button">
                        <%= image_tag "clipboard.png", class: "wishes__clipboard"%>
                    </button>
                </div>
                <br>

                <small> <%= t('wishlist_page.powered_by') %></small>
            </ul>
        </div>
        <div class="wishes-wrapper">
            <%= render "filter" %>
            <br>
            <% if @wishes.any? %>
                <%= render "wishes/wishes", wishes: @wishes %>
            <% elsif params[:stage] %>
                <div class="no-wishes">
                    <h2> <%= t('wishlist_page.no_contributions_stage') %> </h2>
                    <p> <%= t('wishlist_page.stay_tuned') %> </p>
                </div>
            <% else %>
                <div class="no-wishes">
                    <h2> <%= t('wishlist_page.no_ideas_yet') %> </h2>
                    <p> <%= t('wishlist_page.be_first_add') %> </p>
                </div>
            <% end %>
        </div>
    </div>
</div>
