<div class="container">
    <%= render_breadcrumbs :separator => " / " %>
    <h1><%= @wish.title %></h1>
    <p><%= @wish.description %></p>

    <% @comments.each do |comment| %>
        <p><%= comment.content %></p>
    <% end %>
    <%= simple_form_for [@wish, @comment] do |f| %>
        <%= f.input :content %>
        <%= f.submit "Add comment" %>
    <% end %>
</div>
