<% content_for :meta_title, "#{@wish.title} | Wyshlist" %>
<% content_for :meta_description, @wish.description %>
<%= render "shared/user_navbar" %>
<div class="my-container fix-page-wrapper">
    <%= link_to "< Back", wishlist_wishes_path(@wish.wishlist), class: "my-2 d-inline-block" %>
    <%= turbo_frame_tag "wish-view", class: "flex-grow-1" do %>
      <div class="card-show-wish" data-controller="scroll-down">
        <div class="card-header">
          <div class="flex-between mb-3">
            <div class="flex-between">
              <% if @wish.user.photo.attached? %>
                <%= cl_image_tag @wish.user.photo.key, class: "avatar-small" %>
              <% else %>
                <div class="avatar-small avatar-name">
                  <%= @wish.user.initial %>
                </div>
              <% end %>
              <small class="ms-2 user-name"><%= @wish.user.full_name %></small>
            </div>
            <div class="flex-between">
              <div class="card-ghost me-2">
                <span class="me-1"><%= @wish.votes.count %></span>
                <%= image_tag "carrot-up.png", width: '12px', alt: "text" %>
              </div>
              <div class="card-ghost card-ghost-wide card-product__status" style="border-color: <%= @wish.stage_color %>; color: <%= @wish.stage_color %>">
                  <%= @wish.stage %>
                  <!--
                    <% if user_signed_in? && policy(@wish).edit? %>
                      <div>
                        <%= render "wishes/stage_form" %>
                      </div>
                    <% end %>
                  -->
              </div>
            </div>
          </div>

          <div class="flex-between">
            <h1><%= @wish.title %></h1>
            <div class="flex-between">
              <% if user_signed_in? && policy(@wish).edit? %>
                <%= link_to edit_wish_path(@wish) do  %>
                  <%= image_tag 'edit.png', class: "icon-small me-3", alt: "edit" %>
                <% end %>
              <% end %>
              <% if user_signed_in? && policy(@wish).destroy? %>
                <%= link_to wish_path(@wish), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <%= image_tag 'trash.png', class: "icon-small", alt: "delete" %>
                <% end %>
              <% end %>
            </div>
          </div>
          <p><%= @wish.description %></p>
        </div>
        <div class="card-comments">
          <h4 class="my-4">Activity</h4>
          <div class="comments" data-scroll-down-target="comments">
            <% @comments.each do |comment| %>
                <%= render 'comments/comment', comment: comment, comments: @comments %>
            <% end %>
          </div>
        </div>
        <div class="form-comment">
          <div class="divider"></div>
          <%= render "comments/form", wish: @wish, comment: @comment %>
        </div>
      </div>
    <% end %>
</div>
