<div class="my-container">
    <%= render_breadcrumbs :separator => " / " %>
    <div class="card-product">
        <div class="card-product__info">
            <div class="card-product-infos">
                <h1><%= @wish.title %></h1>
                <p><%= @wish.description %></p>
            </div>
        </div>
        <div class="card-product__status">
            <%= @wish.stage %>
        </div>
    </div>
    <div class="card-product__icons">
        <div class="card-product__icon">
            <i class="fas fa-comment"></i>
            <small><%= @wish.comments.count %> comments</small>
        </div>
    </div>
    <% @comments.each do |comment| %>
        <div class="card-comment">
            <%= image_tag "default-avatar.png", class: "avatar dropdown-toggle" %>
            <%#= image_tag comment.user.photo, alt: "text" %>
            <div class="card-product-infos">
                <p><strong><%= comment.user.email %></strong><p>
                <p><%= comment.content %></p>
            </div>
        </div>
    <% end %>
    <%= simple_form_for [@wish, @comment] do |f| %>
        <%= f.input :content %>
        <%= f.submit "Add comment", class: "btn-flat" %>
    <% end %>
</div>
