<div class="my-container">
    <div class="card-product form-wrapper">
      <h1>Sign up</h1>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }, html: {data: {controller: "photo-preview"}}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= image_tag "default-avatar.png", class: "hidden avatar-x-large", data: { photo_preview_target: "preview" } %>        
          <%= f.input :photo, as: :file, input_html: { class: 'd-none', data: { photo_preview_target: "input", action:"change->photo-preview#displayPreview" }}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo'%>
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      placeholder: "ei: John",
                      input_html: { autocomplete: "First name" } %>
          <%= f.input :last_name,
                      required: true,
                      placeholder: "ei: Doe",
                      autofocus: true,
                      input_html: { autocomplete: "Last name" } %>
          <%= f.input :email,
                      required: true,
                      placeholder: "ei: john.doe@gmail.com",
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      placeholder: "Minimum 6 characters",
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      placeholder: "Minimum 6 characters",
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn-flat" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
  </div>
</div>