<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom"  data-controller="active-navbar">
  <div class="container-fluid justify-content-end">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <% if current_user.has_an_organization? %>
          <li>
            <%= link_to "Feedbacks", feedback_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to boards_path, class: "nav-link px-0" do %>
              Boards
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to wishlists_path, target: "_blank", class: "nav-link px-0" do %>
              <%= image_tag 'eye.png', class: "icon", alt: "public view" %>
            <% end %>
          </li>
          <li class="nav-item d-none">
            <% link_to '#', target: "_blank", class: "nav-link px-0" do %>
              <%= image_tag 'bell.png', class: "icon", alt: "notification" %>
            <% end %>
          </li>
          <div class="dropdown nav-item">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <div class="avatar flex-center avatar-name" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false >
                <%= current_user.initial %>
              </div>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit my account", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in", new_user_session_path, class: "ghost-button" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
