<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom">
  <div class="container-fluid justify-content-between justify-content-lg-end">
    <%= link_to user_signed_in? ? authenticated_root_path : unauthenticated_root_path, class: "navbar-brand d-block d-lg-none" do %>
      <%= image_tag "logo-short.png", class: "logo"%>
    <% end %>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <% if current_user.has_an_organization? %>
          <%= render 'shared/nav_links', type: 'navbar' %>
          <div class="dropdown nav-item">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <div class="avatar flex-center avatar-name" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false >
                <%= current_user.initial %>
              </div>
            <% end %>
            <ul class="dropdown-menu position-absolute dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= render 'shared/nav_links', type: 'dropdown' %>
              <%= link_to t('dashboard_navbar.edit_my_account'), edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to t('dashboard_navbar.log_out'), destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <%= render 'shared/sidebar_links', type: 'dropdown' %>
            </ul>
          </div>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to t('dashboard_navbar.log_in'), new_user_session_path, class: "ghost-button" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>