<%= render "shared/announcement_navbar" %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to user_signed_in? ? root_path : unauthenticated_root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.jpg", class: "logo"%>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <% if current_user.has_an_organization? %>
            <li class="nav-item active">
              <%= link_to "Feedback", authenticated_root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Roadmap", "#", class: "nav-link", disabled: true %>
            </li>
            <li class="nav-item">
              <%= link_to "Public Preview", organization_path(current_user.organization), target: "_blank", class: "ghost-button nav-link" %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "default-avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if Wishlist.admin_wishlists.any? %>
                <%= link_to "Contribute to Wyshlist", wishlist_wishes_path(Wishlist.admin_wishlists.first), class: "dropdown-item main-link" %>
              <% end %>
              <% if current_user&.organization.present? && policy(current_user&.organization).edit? %>
                <%= link_to current_user.organization.name, edit_organization_path(current_user.organization), class: "dropdown-item" %>
              <% else %>
                <%= link_to "Your team", new_organization_path, class: "dropdown-item"  %>
              <% end %>
              <%= link_to "My account", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "ghost-button" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
