<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom">
    <%= link_to authenticated_root_path do %>
        <%= image_tag 'logo.jpg'%>
    <% end %>
    <div class="container-fluid justify-content-end">
        <ul class="navbar-nav">
            <% if user_signed_in? %>
                <% if current_user.has_an_organization? %>
                    <li class="nav-item">
                        <%= link_to "Public Preview", organization_path(current_user.organization), target: "_blank", class: "ghost-button nav-link" %>
                    </li>
                <% end %>
                <li class="nav-item">
                    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
                </li>
            <% else %>
                <li class="nav-item">
                    <%= link_to "Log in", new_user_session_path, class: "ghost-button" %>
                </li>
            <% end %>
        </ul>
    </div>
</div>
