<div class="my-container">
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <div class="container-fluid">
            <% if @current_organization %>
                <%= link_to wishlists_url(subdomain: @current_organization.subdomain), class: "navbar-brand" do %>
                    <% if @current_organization.logo.attached? %>
                        <%= cl_image_tag @current_organization.logo.key, class: "logo" %>
                    <% else %>
                        <%=  image_tag 'logo.jpg', class: "logo" %>
                    <% end %>
                <% end %>
            <% end %>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto align-items-center">
                    <% if @wishlist %>
                        <li class="nav-item">
                            <%= form_tag wishlist_wishes_path(@wishlist), method: :get do %>
                                <div class="tickets-searchbar">
                                    <%= text_field_tag :query, params[:query], placeholder: "Search for a ticket", class: "tickets-searchbar__input form-control" %>
                                    <% submit_tag "Search", class: "tickets-searchbar__button" %>
                                </div>
                            <% end %>
                        </li>
                    <% end %>
                    <li class="nav-item active">
                        <%= link_to "Explore", wishlists_url(subdomain: @current_organization.subdomain), class: "nav-link" %>
                    </li>
                    <li class="nav-item dropdown">
                        <%= link_to "Give feedback", "#", class: "nav-link dropdown-toggle", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <% @current_organization.wishlists.each do |wishlist| %>
                                <%= link_to wishlist.title, wishlist_wishes_path(wishlist), class: "dropdown-item" %>
                            <% end %>
                        </div>
                    </li>
                    <% if !user_signed_in? %>
                        <li class="nav-item">
                            <%= link_to "Log in", new_user_session_path, class: "ghost-black" %>
                        </li>
                    <% end %>
                    <% if User.has_valid_organization_member?(current_user) %>
                        <li class="nav-item">
                            <%= link_to " New Board", new_wishlist_path, class: "nav-link mx-auto link " %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Dashboard", authenticated_root_path, class: "upvote-button mx-auto" %>
                        </li>
                    <% end %>

                    <% if user_signed_in? %>
                      <div class="dropdown nav-item">
                        <% if current_user.photo.attached? %>
                          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                        <% else %>
                          <div class="avatar flex-center avatar-name" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false >
                            <%= current_user.initial %>
                          </div>
                        <% end %>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                          <%= link_to "Edit my account", edit_user_registration_path, class: "dropdown-item" %>
                          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
                        </div>
                      </div>
                    <% end %>

                </ul>
            </div>
        </div>
    </div>
</div>
