<div class="my-container">
    <div class="banner">
        <div class="banner__body">
            <h1>Let your users <br><em><span class="highlight">contribute & vote</span></em><br> on the next<br> product decision</h1>
            <% if user_signed_in? %>
                <%= link_to "Boards", wishlists_path, class: "btn-flat" %>
            <% else %>
                <%= link_to "Get started", new_user_registration_path, class: "btn-flat" %>
                <p>Free sign up & no credit card required </p>
            <% end %>
        </div>
        <%= image_tag "home-mockup.svg", alt: "text", class: "banner__mockup" %>
    </div>
</div>
<div class="my-container">
    <section class="section-wrapper">
        <div class="about-us-section">
            <div class="about-us-section__body">
                <h2>How it works</h2>
            </div>

            <div class="about-us-section__grid">
                <div class="about-us-section__grid-card">
                    <%= image_tag "ideas_icon.svg", alt: "ideas icon for wishlist", class: "about-us-section__icon" %>
                    <div>
                        <h3>Gather ideas</h3>
                        <p>
                        Allow your team or customers to submit improvement ideas they would like to be solved.
                        </p>
                    </div>
                </div>
                <div class="about-us-section__grid-card">
                    <%= image_tag "roadmap_icon.svg", alt: "roadmap icon for product managers", class: "about-us-section__icon" %>
                    <div>
                        <h3>Expose your roadmap</h3>
                        <p>
                            Backlog, in development, in review ... Thanks to our intruitive tags system, you can easily inform stakeholders of the stage each product or idea.
                        </p>
                    </div>
                </div>
                <div class="about-us-section__grid-card">
                    <%= image_tag "votes_icon.svg", alt: "voting feature for product managers", class: "about-us-section__icon" %>
                    <div>
                        <h3>Let the votes speak</h3>
                        <p>
                            Easily prioritize your product development based on your <br>users votes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="my-container">
    <section class="section-wrapper">
          <div class="banner__body big-wrapper">
            <h2>Let's fullfill wishes! 🚀</h2>
            <p>Create your free account today*.</p>
            <br>
            <%= link_to "Get started", new_organization_path, class: "btn-flat" %>
            <br>
            <small>*lifetime free features for all beta users subscribed before 09/2023</small>
        </div>
    </section>
</div>