<div class="my-container">
    <div class="banner">
        <div class="banner__body">
            <h1><%= t('home.title').html_safe %></h1>
            <p><%= t('home.subtitle') %></p>
            <% if user_signed_in? %>
                <%= link_to t('boards'), wishlists_path, class: "btn-flat" %>
            <% else %>
                <%= link_to t('get_started'), new_user_registration_path, class: "btn-flat" %>
                <br>
                <br>
                <small><%= t('free_sign_up') %></small>
            <% end %>
        </div>
        <%= image_tag "home-mockup.svg", alt: "text", class: "banner__mockup" %>
    </div>
</div>
<div class="my-container">
    <section class="section-wrapper">
        <%= render "pages/components/how_it_works" %>
    </section>
    <section>
        <div class="card-info" id="gather">
            <%= image_tag "gather-ideas.png", class: "card-info__img right-image mobile-display" %>
            <div class="card-info__body">
                <h2><%= t('home.gather_ideas') %></h2>
                <p><%= t('home.gather_ideas_text') %></p>
            </div>
            <%= image_tag "gather-ideas.png", class: "card-info__img right-image desktop-display" %>
            <%= image_tag "line-inverted.svg", class: "vector-inverted desktop-display" %>
        </div>
        <div class="card-info" id="roadmap">
            <%= image_tag "roadmap.png", class: "card-info__img left-image" %>
            <div class="card-info__body">
                <h2><%= t('home.roadmap.title') %></h2>
                <p>
                <%= t('home.roadmap.description') %>
                </p>
            </div>
            <%= image_tag "line-s.svg", class: "vector desktop-display" %>
        </div>
        <div class="card-info" id="votes">
            <%= image_tag "votes.png", class: "card-info__img right-image mobile-display" %>
            <div class="card-info__body">
                <h2><%= t('home.votes.title') %></h2>
                <p>
                    <%= t('home.votes.description') %>
                    <ul>
                        <li><%= t('home.votes.list.group_requests') %></li>
                        <li><%= t('home.votes.list.facilitate_communication') %></li>
                    </ul>
                </p>
            </div>
            <%= image_tag "votes.png", class: "card-info__img right-image desktop-display" %>
        </div>
    </section>
</div>
<section class="bg-section">
    <div class="my-container">
        <div class="testimonial-wrapper">
            <div class="desktop-display">
                <%= image_tag "testimonial.svg", class: "testimonial-img" %>
                <p class= "testimonial-name"><%= t('home.testimonial.name') %></p>
                <p class= "testimonial-position"><%= t('home.testimonial.position') %></p>
            </div>
            <div class="testimonial-body">
                <h2><%= t('home.testimonial.header').html_safe %></h2>
                <div class="testimonial-text-card">
                    <p>
                        <%= t('home.testimonial.quote') %>
                    </p>
                </div>
                <div class="mobile-display">
                    <div class="mobile-display-testimonial">
                        <%= image_tag "testimonial.svg", class: "testimonial-img" %>
                        <div class="mobile-display-testimonial-text">
                            <p class= "testimonial-name"><%= t('home.testimonial.name').html_safe %></p>
                            <p class= "testimonial-position"><%= t('home.testimonial.position') %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="my-container">
    <section class="section-wrapper">
        <div class="banner__body big-wrapper">
            <%= image_tag "wish-icon.svg", alt: t('home.wishes.alt'), class: "wish-icon" %>
            <h2><%= t('home.wishes.header') %></h2>
            <p><%= t('home.wishes.subheader') %></p>
            <br>
            <%= link_to t('home.wishes.cta'), new_user_registration_path, class: "btn-flat" %>
            <p>
            <small><%= t('home.wishes.disclaimer') %></small>
            </p>
        </div>
    </section>
</div>
