<div class="banner">
  <div class="my-container">
  <div class="banner__body">
        <h1>Let your stakeholders <span class="highlight">contribute & vote</span> on the next product decision</h1>
        <p>Community based wishlist for product managers and tech teams.</p>
        <% if user_signed_in? %>
            <%= link_to "Boards", wishlists_path, class: "btn-flat" %>
        <% else %>
            <%= link_to "Get started", new_user_registration_path, class: "btn-flat" %>
        <% end %>
    </div>
  </div>
  <%= image_tag "home-mockup.png", alt: "text", class: "banner__mockup" %>
</div>
<div class="my-container">
    <section class="section-wrapper">
        <div class="about-us-section">
            <div class="about-us-section__body">
                <h2>Gather. Prioritize. Communicate.</h2>
                <p>
                Are you tired of endless meetings debating which product to launch next? Are you ready to let your community have a say?
                Let them contribute and vote on the next product launch. 
                </p>
            </div>

            <div class="about-us-section__grid">
                <div class="about-us-section__grid-card">
                    <%= image_tag "coffee.png", alt: "text", class: "about-us-section__icon" %>
                    <div>
                        <h2>Gather ideas</h2>
                        <p>
                        Allow your team or customers to submit ideas and existing pains that they would like to be solved.
                        </p>
                    </div>
                </div>
                <div class="about-us-section__grid-card">
                    <%= image_tag "kanban.png", alt: "text", class: "about-us-section__icon" %>
                    <div>
                        <h2>Expose your pipeline</h2>
                        <p>
                            Backlog, in development, in review ... Thanks to our intruitive tags system, you can easily inform stakeholders of the stage each product or idea.
                        </p>
                    </div>
                </div>
                <div class="about-us-section__grid-card">
                    <%= image_tag "vote.png", alt: "text", class: "about-us-section__icon" %>
                    <div>
                        <h2>Let the votes speak</h2>
                        <p>
                            Democracy at its best, easily prioritize your product development based on your team's or customers' votes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="my-container">
    <section class="section-wrapper">
          <div class="banner__body big-wrapper">
            <h2>Let's fullfill wishes! 🚀</h2>
            <p>Create your free account today*.</p>
            <br>
            <%= link_to "Get started", new_organization_path, class: "btn-flat" %>
            <br>
            <small>*lifetime free features for all beta users subscribed before 09/2023</small>
        </div>
    </section>
</div>