<%= simple_form_for @organization, html: {data: {controller: "photo-preview"}} do |f| %>
    <%= image_tag "", class: "hidden avatar-x-large", data: { photo_preview_target: "preview" } %>
    <%= f.input :logo, as: :file, input_html: { class: 'd-none', data: { photo_preview_target: "input", action:"change->photo-preview#displayPreview" }}, label_html: { class: 'upload-photo'}, label: '📷 Upload a logo for your team'%>
    <%= f.input :name, required: true, label: "Create your team", placeholder: "ie: My Company", name: "name"  %>
    <label class="form-label string required" for="subdomain_name">Choose your subdomain<abbr title="required">*</abbr></label>
    <div class="subdomain-input-wrapper">
        <% if params[:action] == "edit" %>
            <%= f.input :subdomain, required: true, label: false, placeholder: "ie: mycompany", name: "subdomain",  input_html: { disabled: true, value: @organization.subdomain } %>
        <% else %>
            <%= f.input :subdomain, required: true, label: false, placeholder: "ie: mycompany", name: "subdomain" %>
        <% end %>
        <small>.wyshlist.net<small>
    </div>
    <%= f.input :color,
        as: :color,
        label: "Choose a brand color",
        placeholder: "Color",
         input_html: { class: 'color-input'}
    %>
    <%= f.submit "Submit", class: "btn-flat"%>
<% end %>
<br>
<% if params[:action] == "edit" %> 
    <%= link_to "Delete organziation", organization_path(@organization), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your team? Your team, boards and customer's tickets will also be deleted forever 🤯" }, class: "delete-link" %>
<% end %>