<div class="d-flex">
  <%= render "shared/sidebar" %>
  <div class="flex-grow-1">
    <%= render "shared/navbar" %>
    <div class="feedback-wrapper">
      <div class="feedback__column-left">
        <div class="wrapper-container" data-controller="search-wishes">
          <div class="d-flex justify-content-between align-items-start mb-3">
            <h2>Tickets</h2>
            <%= link_to '#', class: 'ghost-button' do %>
              <i class="fa-solid fa-plus"></i>
            <% end %>
          </div>
          <div class="feedback-filter">
            <div class="filter">
              <% Wish.filter_stages.each do |stage| %>
                <%= link_to stage, feedback_path(stage: stage), class: "me-3 #{'active' if stage == params[:stage]}" %>
              <% end %>
            </div>
            <div class="sorting">
              <%= image_tag 'sort.png', alt: "sort-icon" %>
              <%= image_tag 'filter.png', alt: "filter-icon" %>
              <%= image_tag 'search.png', alt: "search-icon", data: { action: "click->search-wishes#search" } %>
            </div>
          </div>
          <div class="search-bar">
            <%= form_with url: request.url, method: :get, html: {class:
                "", data: {search_wishes_target: "form"}} do |f| %>
                <%= f.text_field :query,
                                class: "form-control",
                                placeholder: "Search...",
                                value: params[:query],
                                data: {search_wishes_target: "input"} %>
            <% end %>
          </div>
        </div>
        <div class="tickets">
          <% @wishes.each do |wish| %>
            <%= render 'wishes/ticket', wish: wish %>
          <% end %>
        </div>
      </div>
      <div class="feedback__column-right">
        <div class="wrapper-container pb-0">
          <%= turbo_frame_tag "wish-view" do %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
