<div class="d-flex">
  <%= render "shared/sidebar" %>
  <div class="flex-grow-1">
    <%= render "shared/navbar" %>
    <div class="feedback-wrapper">
      <div class="feedback__column-left">
        <div class="wrapper-container">
          <div class="d-flex justify-content-between align-items-start mb-3">
            <h2>Tickets</h2>
            <%= link_to new_wishlist_path, class: 'ghost-button' do %>
              <i class="fa-solid fa-plus"></i>
            <% end %>
          </div>
          <%= render "wishes/filter" %>
        </div>
        <div class="tickets" data-controller="show-ticket-details">
          <% @wishes.each do |wish| %>
            <%= render 'wishes/ticket', wish: wish %>
          <% end %>
        </div>
      </div>
      <div class="feedback__column-right">
        <div class="wrapper-container pb-0">
          <%= turbo_frame_tag "wish-view" do %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
