<div class="feedback-wrapper">
  <div class="feedback__column-left">
    <div class="wrapper-container">
      <div class="d-flex justify-content-between align-items-start mb-3">
        <h2>Tickets</h2>
        <button type="button" class="ghost-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-plus"></i>
        </button>

      </div>
      <%= render "wishes/filter" %>
    </div>
    <div class="tickets" data-controller="show-ticket-details">
      <% if @wishes.empty? %>
        <div class="wrapper-container border-0">
          <small>No tickets yet. Start creating one...</small>
        </div>
      <% end %>
      <% @wishes.each do |wish| %>
        <%= render 'wishes/ticket', wish: wish %>
      <% end %>
    </div>
  </div>
  <div class="feedback__column-right <%= 'flex-center' if @wishes.empty? %>">
    <% if @wishlists.empty? %>
      <%= link_to "Create Wishlist", new_wishlist_path, class: "btn-flat" %>
    <% elsif @wishes.empty? %>
      <!-- Button trigger modal -->
      <button type="button" class="btn-flat" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create a ticket
      </button>

      <!-- Modal -->
    <% else %>
      <div class="wrapper-container pb-0">
        <%= turbo_frame_tag "wish-view", src: wish_path(@wishes.first) do %>
        <% end %>
      </div>
    <% end %>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog rounded">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a new ticket</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for @wish do |f| %>
              <%= f.association :wishlist, collection: @wishlists, label: false, placeholder: "Title" %>
              <%= f.input :title, label: false, placeholder: "Title" %>
              <%= f.rich_text_area :description, label: "Add a decription for this ticket", placeholder: "i.e: At the moment our current solution is this, it would be great to have...", as: :text %>
              <%= f.submit "Add a ticket", class: "btn-flat", data: { turbo: false }%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
