<div class="feedback-wrapper" data-controller="ticket-popup">
  <div class="feedback__column-left">
    <div class="wrapper-container">
      <div class="d-flex justify-content-between align-items-start mb-3">
        <h2><%= t('tickets.title') %></h2>
        <button type="button" class="ghost-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <%= render "wishes/filter" %>
    </div>
    <div class="tickets">
      <% if @wishes.empty? %>
        <div class="wrapper-container border-0">
          <small><%= t('tickets.no_tickets') %></small>
        </div>
      <% end %>
      <% @wishes.each do |wish| %>
        <%= render 'wishes/ticket', wish: wish %>
      <% end %>
    </div>
  </div>
  <div class="feedback__column-right d-none d-lg-block <%= 'flex-center' if @wishes.empty? %>" data-ticket-popup-target="popup">
    <% if @wishlists.empty? %>
      <%= link_to t('tickets.create_board'), new_wishlist_path, class: "btn-flat" %>
    <% elsif @wishes.empty? %>
      <!-- Button trigger modal -->
      <button type="button" class="btn-flat" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <%= t('tickets.create_ticket') %>
      </button>
      <!-- Modal -->
    <% else %>
      <div class="wrapper-container pb-0 h-100">
        <%= turbo_frame_tag "wish-view", src: wish_path(@wishes.first, source: 'feedback'), class: "h-100 flex-grow-1 d-flex flex-column" %>
      </div>
    <% end %>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog rounded">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= t('tickets.add_new_ticket') %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for @wish do |f| %>
              <%= f.association :wishlist, collection: @wishlists, label: false, placeholder: t('tickets.title_placeholder') %>
              <%= f.input :title, label: false, placeholder: t('tickets.title_placeholder') %>
              <%= f.rich_text_area :description, label: t('tickets.description_label'), placeholder: t('tickets.description_placeholder'), as: :text %>
              <%= f.submit t('tickets.add_ticket_button'), class: "btn-flat", data: { turbo: false }%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
