<% @wishlists.each do |wishlist| %>
    <%= link_to wishlist_wishes_path(wishlist) do %>
        <div class="card-product">
            <div class="card-product__info">
                <div class="card-product__color" style="background-color: #<%= wishlist.color %>"></div>
                <div class="card-product-infos">
                    <h2 class="wishlist-title"><%= wishlist.title %></h2>
                    <small>Created by <%= wishlist.user.full_name %></small>
                    <p><%= wishlist.description %></p>
                </div>
            </div>
            <div class="card-product__votes">
                <small>Contributions</small>
                <div class="card-product__vote-count"><%= wishlist.wishes.count %></div>
            </div>
        </div>
    <% end %>
<% end %>