<div class="my-container">
    <div class="title-header">
        <div class="title-wrapper">
            <h1><%= t('user_feed.title') %></h1>
            <small><%= t('user_feed.description') %></small>
        </div>
        <% if user_signed_in? && current_user.team_member? %>
          <%= link_to t('user_feed.new_wishlist'), new_wishlist_path, class: "nav-link upvote-button btn-black" %>
        <% end %>
    </div>
    <% if @wishlists.empty? %>
        <div class="card-product">
            <p><%= t('user_feed.no_boards_message') %></p>
            <p><%= t('user_feed.create_one_message') %></p>
        </div>
    <% else %>
        <%= render "wishlists_cards", wishlists: @wishlists %>
    <% end %>
</div>
