<div class="container">
    <div class="title-header">
        <h1> <%= current_user.has_an_organization? ? @organization.name.capitalize : "Your" %> wishlists</h1>
        <%= link_to " New wishlist", new_wishlist_path, class: " nav-link upvote-button btn-black" %>
    </div>
    <div class="breadcrumbs-wrapper">
        <%= render_breadcrumbs :separator => "  /  " %>
    </div>
    <% @wishlists.each do |wishlist| %>
        <%= link_to wishlist_path(wishlist) do %>
        <div class="card-product">
            <div class="card-product__info">
                <div class="card-product__color" style="background-color: #<%= wishlist.color %>"></div>
                <div class="card-product-infos">
                    <h2><%= wishlist.title %></h2>
                    <p><%= wishlist.description %></p>
                </div>
            </div>
            <div class="card-product__votes">
                <small>Contributors</small>
                <div class="card-product__vote-count"><%= wishlist.wishes.extract_associated(:votes).count %></div>
            </div>
        </div>
        <% end %>
    <% end %>
</div>

