<div class="my-container">
    <div class="card-product form-wrapper">
        <h1>Add a new wishlist</h1>
        <p>Create a new wishlist for your teammates or customers to collaborate on new ideas for product development and vote on their most important one.</p>
        <%= simple_form_for @wishlist do |f| %>
            <%= f.input :title, required: true %>
            <%= f.input :description, type: :text %>
            <%= f.input :color, 
                collection: Wishlist::COLORS, 
                as: :radio_buttons,             
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: {class: 'category-selector'}
            %>
            <%= f.submit "Create a wishlist", class: "btn-flat"%>
        <% end %>
    </div>
</div>