<div class="container">
    <div class="title-header">
        <div class="title-wrapper">
            <h1> <%= @wishlist.title %></h1>
            <div class="title-main-highlight" style="background-color: #<%= @wishlist.color %>"></div>
            <%= render_breadcrumbs :separator => " / " %>
        </div>
        <div>
        <%= link_to edit_wishlist_path(@wishlist) do %>
            <%= image_tag "edit.png", alt: "edit icon", class: "header-icons" %>
        <% end %>
        <%= link_to wishlist_path(@wishlist), data: {turbo_method: "delete" } do %>
            <%= image_tag "trash.png", alt: "edit icon", class: "header-icons" %>
        <% end %>
        </div>
    </div>
    <% @wishes.each do |wish| %>
        <%= link_to wish_path(wish), class: "card-product__link" do %>
        <div class="card-product">
            <div class="card-product__info">
                <div class="card-product__color" style="background-color: #<%= wish.wishlist.color %>"></div>
                <div class="card-product-infos">
                    <h2><%= wish.title %></h2>
                    <p><%= wish.description %></p>
                    <div class="card-product__icons">
                        <div class="card-product__icon">
                            <i class="fas fa-comment"></i>
                            <small><%= wish.comments.count %> comments</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-product__votes">
                <div class="card-product__vote-count"><%= wish.votes.count %> <small>votes</small></div>
                <%= link_to "Upvote", wish_votes_path(wish), data: { turbo_method: "post" }, class: "upvote-button" %>
            </div>
        </div>
        <% end %>
    <% end %>
    <%= turbo_frame_tag "new-wish" do %>
        <div class="new-wish-wrapper">
            <%= link_to "Add a new idea", new_wishlist_wish_path(@wishlist), class: "btn-flat" %>
        </div>
    <% end %>
</div>

