<div class="container">
    <h1> <%= @wishlist.title %> </h1>
    <% @wishes.each do |wish| %>
        <%= link_to wish_path(wish), class: "card-product__link" do %>
        <div class="card-product">
            <div class="card-product__info">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
                <div class="card-product-infos">
                    <h2><%= wish.title %></h2>
                    <p><%= wish.description %></p>
                </div>
            </div>
            <div class="card-product__votes">
                <%= link_to "Upvote", wish_votes_path(wish), data: { turbo_method: "post" }, class: "upvote-button" %>
                <small>Total votes</small>
                <div class="card-product__vote-count"><%= wish.votes.count %></div>
            </div>
        </div>
        <% end %>
    <% end %>
</div>