<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KNRQJX4');</script>
    <!-- End Google Tag Manager -->
    <%= render "layouts/new_relic_snippet" %>
    <title>Wyshlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNRQJX4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= render "shared/pages_navbar" if params[:controller].match?(/pages|users|registrations|sessions/) && !(params[:controller].match?('registrations') && params[:action].match?('edit')) && request.referrer.split('/').last == 'feedback' %>
    <%= render "shared/flashes" %>

    <div class="page-wrapper">
      <% if params[:controller].match?(/organizations/) ||
            (params[:controller].match?('wishlists') && params[:action].match?('new')) ||
            (params[:controller].match?('registrations') && params[:action].match?('edit')) && request.referrer.split('/').last == 'feedback' %>
        <div class="d-flex">
          <%= render "shared/sidebar" %>
          <div class="flex-grow-1">
            <%= render "shared/dashboard_navbar" %>
            <%= yield %>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>

    <%= render "shared/footer" if params[:controller] == "pages"%>
  </body>
</html>
